<div class="ext_uifn modal">
    <div class="modal-header">
        <h1 class="dialog-title">UI Faces & Names</h1>
        <button class="dialog-button btn primary close-button" data-button-id="ok">X</button>
    </div>
    <div class="modal-body">

        <!-- UI FACES -->
        <div class="uifn_box">
            <h3>UI Faces</h3>
            <hr>
            <div class="uifn_top">
                <p class="uifn_user">
                    picture of <a href="" class="uifn_user_name"></a>
                </p>

                <div class="uifn_user_picture_box">
                    <img id="uifn_picture" src="http://placehold.it/128x128&text=PREVIEW+BOX">
                </div>
            </div>
            <div class="uifn_picture_url">
                <input class="url urlInput uifn_input" readonly="readonly"/>
            </div>

            <div class="uifn_size_option">
                <div>
                    <input type="radio" name="img-size" value="128" checked>
                    128x128px
                </div>
                <div>
                    <input type="radio" name="img-size" value="73">
                    73x73px
                </div>
                <div>
                    <input type="radio" name="img-size" value="48">
                    48x48px
                </div>
                <div>
                    <input type="radio" name="img-size" value="24">
                    24x24px
                </div>
            </div>

            <div class="uifn_btn_group">
                <div class="uifn_btn uifn_generate_pict btn">Generate UI Face</div>

                <div class="uifn_btn dialog-button btn" data-bind="click: onPictInsert">Insert at
                    caret position
                </div>
            </div>
        </div>

        <!-- UI FACES -->
        <div class="uifn_box">
            <h3>UI Names</h3>
            <hr>
            <div class="uifn_top">
                <div class="uifn_gender">
                    <div>
                        <input type="radio" name="gender" value="both" checked>
                        Both
                    </div>
                    <div>
                        <input type="radio" name="gender" value="male">
                        male
                    </div>
                    <div>
                        <input type="radio" name="gender" value="female">
                        female
                    </div>
                </div>

                <div class="uifn_country_box">
                    <select class="uifn_country">
                        <option value="all">Random Country</option>
                    </select>
                </div>

                <div>
                    <p class="uifn_name">NAME'LL BE HERE</p>

                    <p class="uifn_current_country"></p>
                </div>
            </div>

            <div class="uifn_name_input">
                <input class="nameInput uifn_input" readonly="readonly"/>
            </div>

            <div class="uifn_btn_group uifn_btn_names">
                <div class="uifn_btn uifn_generate_name btn">Generate UI Name</div>

                <div class="uifn_btn dialog-button btn" data-bind="click: onNameInsert">Insert at
                    caret position
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <p class="text-center">
            UI Faces are from <a href="http://uifaces.com/authorized">uifaces.com</a> -
            UI Names generated by <a href="http://uinames.com/">uinames.com</a>
        </p>
    </div>
</div>
